/* Variables */
:root {
  --nav-bar-color: rgb(107, 1, 1);
  --text-color: rgb(239, 247, 203);
}

/* Box sizing rules */
*,*::before,*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,h1,h2,h3,h4,p,figure,blockquote,dl,dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-image: url('images/mountain_background.png');
  background-size: cover;
  font-family: open sans;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img, picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,button,textarea,select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,*::before,*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Navigation bar  */

header {
  background-color: var(--nav-bar-color);
  display: flex;
  height: 40px;
}

.navigation {
  display: flex;
  align-items: center;

  max-width: 1344px;
  width: 100%;
  margin: 0 auto 0px;

  position: relative;
  flex-grow: 1;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
}

.nav-list li {
  display: flex;
  height: 100%;
  width: auto;
}

.nav-list a {
  display: flex;
  align-items: center;
  color: white;

  padding: 0 8px 0 8px;
  height: 100%;
  

  text-decoration: none;
  font-weight: bold;
}

.nav-list img {
  height: 32px;
  width: 32px;
  border-radius: 25%;
}

.nav-list li:nth-of-type(5) {
  margin-left: auto;
}

.nav-list li:nth-child(-n+4) a:hover,
.nav-list li:nth-child(-n+4) a:focus {
  background-color: tomato;
}

.nav-list li:nth-last-child(-n+3) a:hover,
.nav-list li:nth-last-child(-n+3) a:focus {
  filter: brightness(120%);
}

/* Main */

.main-contents {
  max-width: 1344px;
  width: 100%;
  margin: auto;
  padding-top: 20px;
}

main {
  /* background-color: rgb(0, 255, 255); */
  width: 66%;
  float: left;
  /* outline: yellow;
  outline-width: 2px;
  outline-style: dashed; */
  border-radius: 15px;
  height: 700px;
  padding: 30px;

  background-color: #49406e83;
}

.main-header {
  color: var(--text-color);
  font-size: 3em;
  padding-left: 10%;
  margin-top: -25px;
  /* background-color: wheat; */
}

.main-p {
  color: var(--text-color);
  padding-top: 25px;
  font-size: 16px;
  line-height: 1.5;
}

.recommend{
  height: 400px;
  /* background-color: violet; */
  margin-top: 20px;
}

/* Aside */

aside {
  /* background-color: #735982; */
  width: 34%;
  float: left;
  padding: 15px;
  border-radius: 15px;
  margin-top: 50px;

}

img.portrait {
  /* background-color: tomato; */
  width: 50%;
  float: right;
  border-radius: 40%;
}

.aside-header {
  /* background-color: violet; */
  padding-bottom: 15px;
  float: left;
  width: 50%;
  font-size: 2em;
  color: var(--text-color);
}

.aside-p {
  /* background-color: yellow; */
  font-size: 1.2em;
  font-weight: bold;
  color: var(--text-color);
  padding-bottom: 8px;
}

/* Responsive Design */

@media only screen and (max-width:800px) {
  main,
  aside {
    width: 100%;
  }
}

@media only screen and (max-width:500px) {
  main,
  aside {
    width: 100%;
  }

  .nav-list li:nth-last-child(-n+3) {
    display: none;
  }
}